.autocomplete {
	&-container {
		.MuiOutlinedInput-root {
			padding: 0 39px 0 9px !important;
			height: 38px;
			border-radius: 8px;
		}

		.MuiAutocomplete-option {
			font-size: 14px !important;
		}

		input {
			font-size: 14px;
		}
	}
}
