.input {
    &-container {
        position: relative;
        margin: 8px 0 16px 0;

        & > div {
            width: 100%;
        }

        .MuiOutlinedInput-root {
            border-radius: 8px;
        }

        input {
            height: 38px;
            padding: 0 8px;
            width: 100%;
            text-indent: 20px;
            font-size: 14px;
        }
    }

    &-icon {
        height: 20px !important;
        color: grey;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
}
